<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team13.jpmorganchase.feedthechildren" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".FeedApplication"
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:theme="@style/SampleTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDB7REY-PddAKExRsNt45zd6Y37yMk4Qvw" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CategoriesActivity"
            android:label="Search items"
            android:parentActivityName =".ContentActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".MyLocationActivity"
            android:label="Location"
            android:parentActivityName =".ContentActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".AddLocationActivity"
            android:label="Add Location"
            android:parentActivityName =".ContentActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ContentActivity"
            android:label="Healthy Harvest"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LocationsActivity"
            android:label="Locations results"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ItemsInLocationActivity"
            android:label="Items"
            android:parentActivityName=".LocationsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:label="Feed the Children"
            android:parentActivityName =".LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

    </application>

</manifest>
